.ytContainer {
  width: 854px;
  height: 480px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-template-rows: auto 1fr;
  width: 854px;
  margin: 0 auto;
}

.header_container {
  text-align: center;
}
