@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap&font-display=swap");

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overflow */
}

.leftSide {
  background-color: #bbd567;
  width: 50%; /* Take up exactly 50% of the width */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.rightSide {
  background-color: white;
  width: 50%; /* Take up the remaining 50% of the width */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
