.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

/* right side formatting */
.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* width: 50%; */
}

/* back to sign-in */
.back {
  display: flex;
  align-items: center;
}

.back img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
