#path_star {
  transform-box: fill-box;
  transform-origin: center;
}

.active {
  cursor: pointer;
  transition: scale 0.2s;
}

.active:hover {
  cursor: pointer;
  scale: 1.1;
}

.inactive {
  cursor: not-allowed;
}

.module_error_toast {
  font-family: "DM Sans";
  text-align: center;
}

.module_error_toast p:first-child {
  font-weight: bold;
}

.module_error_toast span {
  font-weight: bold;
  color: #b93b3b;
}
