.container {
  position: relative;
  padding: 20px;
}

.header_container {
  text-align: center;
  margin-bottom: 20px;
}

.header_container h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.header_container p {
  font-size: 18px;
  color: #000000;
}

.graphContainer {
  position: relative;
}

.textbox {
  background-color: #faffea;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textboxContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "DM Sans";
  color: #1c3a29;
  padding: 1.5rem;
  box-sizing: border-box;
}

.textboxContent p {
  margin: 0;
  font-size: 14px;
  color: #1c3a29;
  text-align: left;
  line-height: 1.2;
}
