.accountContainer {
  margin-top: 26px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: gap 0.3s ease-in-out;
}

.accountContainer.collapsed {
  gap: 0px;
}

.nameContainer.collapsed {
  opacity: 0;
  max-height: 0;
  width: 0;
}

.nameContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  opacity: 1;
  transition:
    width 0.225s ease,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    max-height 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  color: #fff;

  /* Body/Medium (Bold) */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.email {
  color: #fff;

  /* Caption/Small */
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
  letter-spacing: 0.2px;
}
