.nav {
  width: 288px;
  height: 100%;
  background: var(--Secondary-Accent1, #1c3a29);
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 20px;
  color: white;
  transition: width 0.3s ease;
}

.nav.collapsed {
  width: 92px;
}

.collapseButton {
  display: flex;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: margin 0.3 ease;
}

.collapseButton.open {
  margin-right: 13px;
}
