.container {
  flex-direction: column;
  width: 100%;
}
.headerText {
  font-family: "Rammetto One";
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 1rem;
}

.gridLayout {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}

.image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0.5rem 0;
  position: relative;
  width: fit-content;
}

.topCenter {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
}

.upperLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  margin-bottom: -11rem;
}

.upperRight {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1rem;
  margin-bottom: -11rem;
}

.bottomLeft {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.bottomRight {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.text{
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
}

.circle1 {
  position: absolute;
  top: 70%;
  left: -3%;
  transform: translate(-50%, -50%);
}

.circle2 {
  position: absolute;
  top: 86%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.circle3 {
  position: absolute;
  top: 88%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.circle4 {
  position: absolute;
  top: 6%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.circle5 {
  position: absolute;
  top: 70%;
  left: 78%;
  transform: translate(-50%, -50%);
}