.cardSlide {
  width: 283px;
  height: 250px;
  background: #e0e0e0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-family: "Rammetto One";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
  transition: all 0.4s ease;
}

.content {
  position: absolute;
  height: 68px;
  bottom: 10%;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: none;
  transition: all 0.4s ease;
}

.cardSlide:hover {
  background-color: var(--secondary-accent, #1c3a29);
}

.cardSlide:hover .title {
  bottom: 40%;
  transform: translateY(40%);
}

.cardSlide:hover .content {
  display: block;
}
