@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.passwordInput {
  -webkit-text-security: square;
}

.formField {
  font-family: "DM Sans";
  margin-bottom: 16px;
  width: 320px;
  color: var(--Secondary-Accent1, #1c3a29);
}

.formTitle {
  margin-bottom: 4px;
  color: var(--Secondary-Accent1, #1c3a29);
  /* Title/Medium (reg) */
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
  letter-spacing: 0.56px;
}

.formContainer {
  width: 320px;
}

.link {
  text-decoration: underline;
  transition: ease-in-out 0.2s;
}

.link:hover {
  opacity: 80%;
}

/* spacing */
.smallSpaceBelow {
  margin-bottom: 56px;
}

.largeSpaceBelow {
  margin-bottom: 125px;
}
