/* background + layout */
.container {
  background-color: var(--background);
  width: 100%;
}

/* text */
.subtitle {
  font-size: 22px;
  color: var(--foreground);
  font-family: "DM Sans";
  font-weight: 400;
}

.title {
  font-size: 40px;
  color: var(--foreground);
  font-family: "Rammetto One";
  font-weight: 400;
  max-width: 25ch;
  text-transform: uppercase;
}

/* mascot */
.mascot {
  position: absolute;
  bottom: -108px;
  right: 80px;
  z-index: 0;
}

.mascotHand {
  position: absolute;
  bottom: -10px;
  right: 116px;
  z-index: 2;
}
