/* background */
.container {
    position: relative;
    background: rgba(187, 213, 103, 1);
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 68vh;
    overflow: hidden; /* Handle overflow */
  }
  
  /* text */
  .title {
    font-size: 32px;
    color: black;
    font-family: "Rammetto One", sans-serif;
    margin-left: 8vw;
    padding-top: 16vh;
    font-weight: 400;
    max-width: 574px;
    overflow-wrap: break-word; /* Prevent long words from breaking layout */
  }
  
  .description {
    font-size: 22px;
    color: black;
    font-family: "DM Sans", sans-serif;
    margin-top: 2vh;
    margin-left: 8vw;
    font-weight: 400;
    margin-right: 2vw;
    margin-bottom: 14vh;
    max-width: 574px;
    overflow-wrap: break-word; /* Prevent long words from breaking layout */
  }
  
  /* image */
  .imageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: auto;
    height: auto;
    max-width: 100%; /* Ensure the image doesn't overflow */
    padding: 2vh 5vw;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .title {
      font-size: 24px;
      margin-left: 5vw;
      padding-top: 10vh;
    }
  
    .description {
      font-size: 18px;
      margin-left: 5vw;
      margin-right: 5vw;
    }
  
    .image {
      padding: 1vh 3vw;
    }
  }