@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.createAccount {
  margin-bottom: 16px;
}

.loginTitle {
  margin-bottom: 16px;
  color: var(--Secondary-Accent1, #1c3a29);
  /* Title/Medium (reg) */
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
  letter-spacing: 0.56px;
}

.signInLink {
  margin-top: 6px;
  color: var(--Secondary-Accent1, #1c3a29);
  text-align: center;
  /* Body/Medium (Reg) */
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.signInLink a {
  color: var(--Secondary-Accent1, #1c3a29);

  /* Body/Medium (Reg) */
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
