.verifyEmail h1 {
  color: var(--Secondary-Accent1, #1c3a29);
  /* Title/Medium (reg) */
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
  letter-spacing: 0.56px;
}

.verifyEmail p {
  color: #1c3a29;

  /* Body/Small (Reg) */
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.verifyEmail p a {
  text-decoration: underline;
}

.verifyEmail p span {
  font-weight: 700;
}

.backToSignIn button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.backToSignIn p {
  margin: 0;
  line-height: 1;
}

.wrapText {
  white-space: pre-wrap; /* Preserve whitespace and wrap text as needed */
}

.error {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 4px;
  border: 1px solid var(--Secondary-Functional-Error, #b93b3b26);
  background-color: #b93b3b26;
}

.error p {
  /* Caption/Small */
  opacity: 100%;
  color: var(--Functional-Error, #b93b3b);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
  letter-spacing: 0.2px;
}

.emailresent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 4px;
  border: 1px solid var(--Secondary-Functional-Error, #2e812626);
  background-color: #2e812626;
}

.emailresent p {
  /* Caption/Small */
  opacity: 100%;
  color: var(--Functional-Error, #022705);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
  letter-spacing: 0.2px;
}
