.nav {
  width: 288px;
  height: 100%;
  background: var(--Secondary-Accent1, #1c3a29);
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 1;
  padding: 20px;
  color: white; 
  transition: width 0.3s ease;
}

.nav.collapsed {
  width: 60px;
}

.collapseButton {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}