.container {
  display: flex;
  align-items: center;
  background: #faffea;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2%;
  height: 193px;
}

.container a {
  color: #428bcd;
}

.container ul {
  margin-left: 28px;
}

.container li::marker {
  font-size: 12px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}

.icon {
  width: 120px;
  height: 105px;
  margin-right: 32px;
}
