.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pastel-Green, #faffea);
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100vh;
}

.title {
  color: #000;
  font-family: "Rammetto One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: 0.8px;
  padding-bottom: 32px;
  overflow-x: auto;
}

.titleContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ytContainer {
  width: 854px;
  height: 480px;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.wrapper {
  width: 854px;
  overflow-x: auto;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  overflow-x: auto;
  width: 854px;
}

.buttonContainer {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
  /* width: 100%; */
  margin-left: auto;
  margin-right: 0;
}
