.svg_container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  --toast-enter-animation: customEnter 1s ease;
  --toast-exit-animation: customExit 1s ease forwards;
}

.svg_container::-webkit-scrollbar {
  width: 12px;
}

.svg_container::-webkit-scrollbar-thumb {
  background-color: var(--Secondary-Neutral-Gray4, #909090);
  border-radius: 25px;
}
.svg_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.svg {
  min-width: 1000px;
  width: 1000px;
  min-height: 900px;
  height: 900px;
  margin-inline: auto;
}

#path_star {
  transition: scale 0.2s;
  transform-origin: center;
  transform-box: fill-box;
}

#path_star:hover {
  scale: 1.1;
  cursor: pointer;
}

/* Custom toast animations */
@keyframes customEnter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes customExit {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
