.button {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 64px;
  cursor: pointer;
  border: none;
}

.primary {
  background: var(--color-action-selected);
}

.secondary {
  background: var(--background);
  border: 1px solid var(--color-action-border);
}

.text {
  color: #000;
  text-align: center;

  /* Title/XSmall */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}
