.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  background-color: var(--background);
  color: var(--background);
  width: 100%;
}

.question {
  color: var(--Secondary-Neutral-Gray5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  align-self: stretch;
  padding-left: 1%;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
