.button {
  display: flex;
  justify-content: space-between; /* Align text to left and icon to right */
  align-items: center; /* Vertically center content */
  width: 100%;
  padding: 12px 20px;
  border-radius: 50px;
  font: var(--font-label);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.multipleButton {
  display: flex;
  justify-content: space-between; /* Align text to left and icon to right */
  align-items: center; /* Vertically center content */
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  font: var(--font-label);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.primary {
  background-color: var(--background);
  border: 1px solid var(--color-action-border);
  color: var(--color-action-border);
}

.selected {
  background-color: var(--color-action-selected);
  border: 1px solid var(--color-action-border);
  color: var(--color-action-border);
}

.correct {
  background-color: var(--color-action-correct);
  border: 1px solid var(--color-action-border);
  color: var(--color-text-primary);
}

.wrong {
  background-color: var(--color-action-wrong);
  border: 1px solid var(--color-action-border);
  color: var(--color-text-primary);
}

.letter {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.32px;
  padding-right: 12px;
}

.icon {
  display: flex;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.spacing {
  padding-left: 1%;
}

.notSubmitted {
  cursor: pointer;
}
