.container {
  position: relative;
  width: 100%;
  min-width: 680px;
  height: auto;
  min-height: 480px;
}

.leftGraphic {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
}

.rightGraphic {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  border: #040404;
}

.leftFrame {
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.rightArm {
  top: 340px;
  left: 230px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.certifComplete {
  top: 45px;
  left: 295px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.awardTo {
  top: 155px;
  left: 295px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.name {
  position: absolute;
  top: 195px;
  left: 295px;
  z-index: 0;
  width: 440px;
  max-height: 47px;
  font-family: "DM Sans";
  font-weight: 900;
  font-size: 36px;
  color: #040404;
  text-align: left;
}

.line {
  top: 225px;
  left: 295px;
  height: auto;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.recognition {
  top: 230px;
  left: 295px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.success {
  top: 260px;
  left: 295px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.date {
  top: 345px;
  left: 295px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.dateText {
  top: 325px;
  left: 295px;
  z-index: 0;
  position: absolute;
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.signature {
  top: 345px;
  left: 535px;
  z-index: 0;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.signaturePic {
  top: 295px;
  left: 515px;
  z-index: 0;
  position: absolute;
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 15px;
  top: 395px;
  left: 270px;
  z-index: 0;
  width: 380px;
  height: 54px;
  align-items: center;
  justify-content: center;
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
