#container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

.title {
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  font-weight: 400;
  text-align: center;
  background-color: blue;
}

.description {
  text-align: center;
  font-size: 22px;
  color: black;
  font-family: "DM Sans";
  font-weight: 400;
  background-color: green;
}

#cardContainer {
  gap: 42px;
  display: flex;
  flex-wrap: nowrap;
  background-color: aqua;
}
