.row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.title {
  font-size: 28px;
  color: var(--foreground);
  font-family: "DM Sans";
  font-weight: 700;
  margin-top: 128px;
  margin-left: 6.5vw;
}

.text {
  font-size: 22px;
  color: var(--foreground);
  font-family: "DM Sans";
  font-weight: 400;
  margin-top: 2vh;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  margin-bottom: 4vh;
}
