.container {
  /* padding: 60px 100px; */
  margin: 0;
  padding: 0;
  position: relative; /* Add relative positioning to the container */
  margin-top: 36px;
  /* overflow-x: auto; */
}

.title {
  color: #000;
  text-align: center;
  font-family: "Rammetto One";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
}

.cardContainer {
  background: #bbd567;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  flex-wrap: nowrap; /* Prevent wrapping */
  position: relative; /* Add relative positioning to the card container */
  /* width: 100vw; */
  height: 500px; /* Adjust height as needed */
  /* width: 946px; */
}

.card1,
.card2,
.card3,
.card4 {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  position: absolute; /* Use absolute positioning */
  color: #000;
  text-align: center;
}

.card1 {
  top: 10px;
  left: 0px;
  z-index: 1;
}

.card2 span {
  color: #fff !important;
}

.card2 {
  top: 210px;
  left: 230px;
  z-index: 2;
}

.card3 {
  top: 0;
  left: 480px;
  z-index: 3;
}

.card4 {
  top: 230px;
  left: 680px;
  z-index: 4;
}

.road1,
.road2,
.road3 {
  position: absolute;
}

.road1 {
  transform: rotate(180deg);
  top: 240px;
  left: 100px;
}

.road2 {
  transform: rotate(-90deg);
  top: 120px;
  left: 360px;
}

.road3 {
  top: 105px;
  left: 700px;
}
