#container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  width: max-content;
}

.title {
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  padding-top: 4vh;
  padding-bottom: 32px;
  font-weight: 400;
  text-align: center;
}

.content {
  margin-bottom: 4vh;
}
