.rowContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin: auto;
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
}

.title {
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  padding-top: 4vh;
  font-weight: 400;
  text-align: center;
}

.content {
  margin-bottom: 4vh;
}
