#container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

.title {
  /* margin-top: 74px; */
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  font-weight: 400;
  text-align: center;
  background-color: blue;
  padding: 0;
}

.chatBubble {
  width: 100%;
  max-width: 931px;
}
