.row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  padding-top: 16vh;
  font-weight: 400;
  text-align: center;
}
