#container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  /* margin-top: 74px; */
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  font-weight: 400;
  text-align: center;
  padding: 0;
}

.description {
  /* margin-top: 16px; */
  text-align: center;
  font-size: 22px;
  color: black;
  font-family: "DM Sans";
  font-weight: 400;
  padding: 0;
}

.buttonContainer {
  width: 100%;
  max-width: 1450px;
}
