.active,
.navigatable {
  transition: scale 0.2s;
  transform-origin: center;
  transform-box: fill-box;
  pointer-events: all;
}

.active:hover,
.navigatable:hover {
  scale: 1.1;
  cursor: pointer;
}

.active {
  --marker-color: #ff8500;
}

.navigatable {
  --marker-color: #b4b4b4;
}

.disabled {
  --marker-color: #b4b4b4;
}

.disabled:hover {
  cursor: not-allowed;
}

.marker_text {
  font-family: "Rammetto One";
  font-size: 24px;
}
