.active {
  --marker-color: #ff8500;
  pointer-events: all;
}

.active:hover {
  cursor: pointer;
}

.navigatable {
  --marker-color: #b4b4b4;
  pointer-events: all;
}

.navigatable:hover {
  cursor: pointer;
}

.disabled {
  --marker-color: #b4b4b4;
}

.disabled:hover {
  cursor: not-allowed;
}

.marker_text {
  font-family: "Rammetto One";
  font-size: 24px;
}
